body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#image_container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

